<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55220801987-ei8meofpp4n9ae75hi8186rc1qb2rif0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55220801987-ei8meofpp4n9ae75hi8186rc1qb2rif0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55220801987-51m3k8e44ih7j1ac7oggocm87jeut3t2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0ZkbiaTXXlAvG6paglZRbTlYmb8tuTo</string>
	<key>GCM_SENDER_ID</key>
	<string>55220801987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tem.apps.vpec</string>
	<key>PROJECT_ID</key>
	<string>vec-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>vec-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55220801987:ios:4519b3798135d7370aed76</string>
	<key>DATABASE_URL</key>
	<string>https://vec-mobile.firebaseio.com</string>
</dict>
</plist>